# =========================
# OS
# =========================
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# =========================
# IDE / Editors
# =========================
.vscode/

# =========================
# Données locales utilisateur
# =========================
garage.db

# =========================
# Environnements virtuels
# =========================
.venv/
venv/

# =========================
# PyInstaller / builds
# =========================
build/
dist/
*.spec

# Linux AppImage
AppDir/
*.AppImage
squashfs-root/

# =========================
# Releases (artefacts finaux)
# =========================
releases/

# =========================
# Exports nommés (anciens builds)
# =========================
Garage - Linux -*/
Garage - MacOs -*/
Garage - Windows -*

# =========================
# Assets locaux non versionnés
# =========================
assets/v1.png
assets/v2.png
